absl-py==2.1.0
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
cloudpickle==3.0.0
decorator==4.4.2
google-auth==2.32.0
google-auth-oauthlib==1.0.0
grpcio==1.65.1
gym==0.26.2
gym-notices==0.0.8
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
importlib_metadata==8.2.0
Markdown==3.6
MarkupSafe==2.1.5
moviepy==1.0.3
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opencv-python==4.10.0.84
pandas==2.2.2
pillow==10.4.0
proglog==0.1.10
protobuf==3.20.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pygame==2.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
torch==1.13.1
torch-tb-profiler==0.4.3
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
zipp==3.19.2
